/* Add application styles & imports to this file! */
@import '~@angular/material/prebuilt-themes/indigo-pink.css';

.filter-option > .mat-pseudo-checkbox {
  display: none !important;
}

.filter-sidenav .mat-list-item-content {
  padding: 0 10px !important;
  font-size: 0.875rem !important;
}

.filter-sidenav .mat-select-trigger {
  font-size: 1rem !important;
}

body {
  background: rgb(64, 114, 139);
  background: linear-gradient(119deg, rgb(100, 133, 243) 0%, rgb(138, 202, 216) 100%); 
  color: white
}