@import '~bootstrap/dist/css/bootstrap.min.css';

/* overriding some imported component styling
   not the best approach but works and is cheap and cheerful */

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: rgb(0, 0, 0) !important;
}

::ng-deep .mat-slider-thumb-label {
  background-color: rgb(255, 255, 255) !important;
}

::ng-deep .mat-slider-thumb {
  background-color: rgb(0, 0, 0) !important;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
  border-color:rgb(255, 255, 255); 
}

::ng-deep  .mat-radio-button.mat-accent .mat-radio-inner-circle{
  color:rgb(255, 255, 255);
  background-color:rgb(255, 255, 255) ;
}

::ng-deep  .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
    background-color:rgba(39, 39, 39, 0.26);
}


/* ::ng-deep .btn-primary {
  background-color: rgb(112, 69, 19) !important;
} */



.genres {
  width: 100%;
}

.container {
  /* padding: 20px; */
}

input {
  margin-bottom: 10px;
}

.name-container {
  margin: 10px;
}

button {
  margin: 5px;
}

.length {
  color: white;
}

.length-slider-container {
  padding-top: 5px;
  padding-bottom: 5px;
  /* background-color: rgb(54, 54, 54); */
  position: relative;
  top: -85px;
  left: 200px;
  color: rgb(0, 0, 0);
  /* filter: drop-shadow(10px 5px 10px #000); */
  border-radius: 5px;
  background-color: rgb(54, 54, 54);
  margin-top: 5px;
  width: 50%;
  height: 20%;
  filter: drop-shadow(10px 5px 10px #000);
}

.style-slider-container {
  padding: 15px;
  /* background-color: rgb(54, 54, 54); */
  position: relative;
  top: -85px;
  left: 100px;
  color: rgb(255, 255, 255);
  /* filter: drop-shadow(10px 5px 10px #000); */
  border-radius: 5px;
  background-color: rgb(54, 54, 54);
  margin-top: 5px;
  width: 50%;
  height: 50%;
  min-height: 25%;
  filter: drop-shadow(10px 5px 10px #000);
}

.button-row {
  padding-bottom: 5px;
}

button {
  border-radius: 5px !important;
}

.generated-word {
  margin-bottom: 20px;
}

.name-card {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: rgb(54, 54, 54);
  border-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 300px;
  filter: drop-shadow(10px 5px 10px #000);
}

.length-container {
  /* margin-bottom: 10px; */
}

.name-length {
  font-size: smaller;
  margin-top: 30px;
  color: white;
}

.slider {
  border: solid;
  border-color: white;
  border-radius: 20px;
  border-width: thin;
  background-color: rgb(235, 235, 235);
  padding: 10px;
  min-width: 150px;
  margin: 10px;
  color: white;
}

/* .modifier-container {
  margin: 5px;
} */

label {
  margin-right: 5px;
}


.button-container {
  padding-left: 5px;
}

.radio-form-container {
  padding: 10px;
}