<div class="container">
  <!-- ****** Start of first screen ****** -->
  <div *ngIf="!this.generatedName">
    <div class="d-flex flex-row genres">
      <div class="col">
        <!-- <mat-list-item class="primary-imenu-item" role="listitem">
        <mat-form-field class="select-form">
          <mat-select placeholder="Genres" name="genre" class="filter-select" [(ngModel)]="selectedGenres"
            [compareWith]="equals" multiple #yearSelect>

            <mat-option *ngFor="let genre of genres" [value]="genre.description" (click)="modifyGenreSelection(genre)">
              {{ genre.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item> -->
      </div>
    </div>

    <div class="d-flex flex-row subgenres">
      <div class="col">
        <!-- <mat-list-item class="primary-imenu-item" role="listitem">
        <mat-form-field class="select-form">
          <mat-select placeholder="Genres" name="subgenre" class="filter-select" [(ngModel)]="selectedGenres"
            [compareWith]="equals" multiple #subGenreSelect>

            <mat-option *ngFor="let genre of subgenres" [value]="genre.description"
              (click)="modifySubgenreSelection(genre)">
              {{ genre.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item> -->
      </div>
    </div>

    <div class="d-flex flex-row subgenres">
      <div class="col">
        <!-- <mat-list-item class="primary-imenu-item" role="listitem">
        <mat-form-field class="select-form">
          <mat-select placeholder="Vibes" name="vibes" class="filter-select" [(ngModel)]="selectedVibes"
            [compareWith]="equals" multiple #subGenreSelect>

            <mat-option *ngFor="let vibe of vibes" [value]="vibe.description" (click)="modifyVibeSelection(vibe)">
              {{ vibe.description }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-list-item> -->
      </div>
    </div>

    <!-- Start of first screen length box -->
    <div class="d-flex flex-row length">
      <div class="col d-flex justify-content-center">
        <mat-list-item class="primary-imenu-item">
          <mat-form-field class="select-form">
            <mat-select placeholder="Length" name="lengthSelect" class="filter-select" [(ngModel)]="selectedLength"
              [compareWith]="equals" (selectionChange)="setNameLength($event)" #lengthSelect>
              <mat-option *ngFor="let length of nameLengths" [value]="length.description">
                {{ length.description }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-list-item>
      </div>
    </div>

    <!-- Start of first screen generate -->

    <div class="d-flex flex-row">
      <div class="col d-flex justify-content-center">
        <button type="button" class="btn btn-dark" (click)="generateName()">
          Generate
        </button>
      </div>
    </div>
  </div>

  <!-- ******* End of first screen *******-->

  <!-- ******* Start of second screen ******* -->

  <div *ngIf="this.generatedName">
    <!-- Start of display generated name -->

    <div class="d-flex flex-row name-container name-card">
      <div class="col-md-12">
        <div class="flex-row generated-word">
          <div class="col-md-12">
            <div class="d-flex justify-content-center">
              <h2>
                <b> {{ getGeneratedName }} </b>
              </h2>
            </div>
          </div>
        </div>
        <div class="flex-row">
          <div class="col-md-12">
            <!-- Start of the modify buttons -->

            <div class="d-flex flex-row">
              <div class="col">
                <div class="d-flex justify-content-center">
                  <button type="button" class="btn btn-light" (click)="invertNames()">
              Reverse
            </button>

                  <button type="button" class="btn btn-light" (click)="changeStyling()">
              Stylize
            </button>

                  <button type="button" class="btn btn-light" (click)="changeLength()">
              Change Length
            </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Start of next/back buttons -->
    <div class="d-flex flex-row ">

      <div class="d-flex col justify-content-center ">
        <button type="button" class="btn btn-dark" (click)="generateName()">
              Next
        </button>
        <!-- </div>
      <div class="col"> -->
        <button type="button" class="btn btn-dark" (click)="previousName()">
              Back
        </button>
      </div>
    </div>

    <!-- Start of name length bubble -->

    <div  *ngIf="this.showLengthBubble" class="length-slider-container" (mouseleave)="this.showLengthBubble=false">

      <!-- Start of the length slider -->

      <div class="d-flex flex-row">
        <div class="col">
          <div class="d-flex justify-content-center">
            <div class="d-flex flex-row">
              <mat-slider #slider (change)="updateNameLength($event)" class="example-margin slider"
                [disabled]="disabled" [max]="'5'" [min]="'1'" [step]="'1'">
              </mat-slider>
            </div>
            <div class="d-flex flex-row length-container">
              <div class="col">
                <div class="d-flex justify-content-center name-length">
                  <b> {{ getNameLengthSetting }} </b>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Start of styling bubble -->

    <div *ngIf="this.showStyleBubble" class="style-slider-container" (mouseleave)="this.showStyleBubble=false">

      <!-- Start of the styling panel -->

      <div class="d-flex flex-row">

        <div class="form">
          <form>
            <div class="d-flex flex-row justify-content-end button-row">

              <div class="col-md-11">
                <label> Swap Numbers </label>
              </div>
              <div class="col-md-1 button-container">
                <mat-radio-button> </mat-radio-button>
              </div>
            </div>
            <div class="d-flex flex-row justify-content-end button-row">
              <div class="col-md-11">
                <label> Invert Vowels </label>
              </div>
              <div class="col-md-1 button-container">
                <mat-radio-button> </mat-radio-button>
              </div>

            </div>

          </form>
        </div>
      </div>
    </div>
  </div>