@import '~bootstrap/dist/css/bootstrap.min.css';

.genres {
  width: 100%;
}

.container {
  padding: 20px;
}

input {
  margin-bottom: 10px;
}

.name-container {
  margin: 10px;
}

button {
  margin: 5px;
}

::ng-deep .mat-accent .mat-slider-track-fill {
  background-color: rgb(255, 255, 255) !important;
}

::ng-deep .mat-slider-thumb-label {
  background-color: rgb(255, 255, 255) !important;
}

::ng-deep .mat-slider-thumb {
  background-color: rgb(255, 255, 255) !important;
}

/* ::ng-deep .btn-primary {
  background-color: rgb(112, 69, 19) !important;
} */

.slider-container {
  margin-top: 10px;
  border: solid;
  border-width: thin;
  border-radius: 10px;
  padding-top: 15px;
  background-color: rgb(43, 43, 43);
  border-color: rgb(43, 43, 43);
  position: relative;
  top: -100px;
  left: 10px;
  color: white;
}

.name-card {
  border: solid;
  border-width: thin;
  border-radius: 5px;
  background-color: rgb(54, 54, 54);
  border-color: rgb(54, 54, 54);
  color: rgb(255, 255, 255);
  padding-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
  min-width: 300px;
}

.length-container {
  margin-bottom: 10px;
}

/* .modifier-container {
  margin: 5px;
} */
